<div class="new-plan">
  <div class="plan-title">
    
    <span class="back-link"><%= link_to "メニューに戻る", root_path, class:"back" %></span>
  </div>
  <div class="plan-form">
    <%= form_with model: @ddfr, url: diary_path(diary_id: @diary.id, date: @day), method: :patch, id:"form", local: true do |f| %>
      <div class="schedule">
        <div class="schedule-label"><%= f.label "タイトル" %></div>
        <div class="diary-schedule-text"><%= f.text_field :title, class:"diary-schedule-box" %></div>
      </div>
      <div class="diary-comment">
        <div class="diary-comment-label"><%= f.label "コメント", class:"diary-comment" %></div>
        <div class="diary-comment-text"><%= f.text_area :comment, class:"diary-box"%></div>
      </div>
      <div class="alcohol_amount_plan">
        <% unless @day_plan.nil? %>
          <div class="today-plan-content">
            <div class="today-goal">この日の目標</div>
            <div class="today-plan"><%= @day_plan.alcohol_amount_plan %>mg</div>
          </div>
          <input type="hidden" id="today-plan" value="<%= @day_plan.alcohol_amount_plan %>">
        <% end %>
        <div class="amount-title">のみかた実績　(半角数字で入力してね)</div>
        <div class="drink-choice">
          <div class="left-choice">
            <ul class="drinks">
              <li class="beer">ビール350ml<br />
              缶チューハイ350ml</li>
              <li class ="amount"><%= f.text_field :small_beer, class:"amount-box", id:"box1" %>本</li>
            </ul>
            <ul class="drinks">
              <li class="beer">日本酒180ml<br />
              （1合）</li>
              <li class ="amount"><%= f.text_field :japanese_sake, class:"amount-box", id:"box2" %>合</li>
            </ul>
            <ul class="drinks">
              <li class="beer">焼酎100ml<br />
              （グラス一杯）</li>
              <li class ="amount"><%= f.text_field :shochu, class:"amount-box", id:"box3" %>杯</li>
            </ul>
          </div>
          <div class="right-choice">
           <ul class="drinks">
              <li class="beer">ビール500ml<br />
              缶チューハイ500ml</li>
              <li class ="amount"><%= f.text_field :large_beer, class:"amount-box", id:"box4" %>本</li>
            </ul>
            <ul class="drinks">
              <li class="beer">ワイン120ml<br />
              （グラス一杯）</li>
              <li class ="amount"><%= f.text_field :wine, class:"amount-box", id:"box5" %>杯</li>
            </ul>
            <ul class="drinks">
              <li class="beer">ウイスキー30ml<br />
              （シングル）</li>
              <li class ="amount"><%= f.text_field :wisky, class:"amount-box", id:"box6" %>杯</li>
            </ul>
            <ul class="drinks">
              <li class="beer">その他のお酒<br />
              （度数）<%= f.text_field :another_percentage, class:"amount-box", id:"box7" %>%</li>
              <li class ="amount"><%= f.text_field :another_amount, class:"amount-box", id:"box8" %>ml</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="amount-sum">
        <div class="users-safety">
          <div class="safety-title">あなたの1日の適正量</div>
          <div class="safety" ><%= @user_safety_amount %></div>
          <div class="g">g</div>
        </div>
        <div class="alcohol-sum">
          <div class="sum-label"><%= f.label "純アルコール量合計"%></div>
          <div class ="sum-text"><p class="sum" id="sum"></p>g</div>
        </div>
          <%= f.text_field :alcohol_amount, class:"sum-box", id:"sum-box" %>
      </div>
      <div class="comment" id="comment">
        <h3 class="comment-text" id="comment-text"></h3>
      </div>
      <div class="hour-info">
        <h3 class="hour-text" id="hour-text"></h3>
      </div>
      <div class="contents">
        <div class="content-wrapper">
          <div class="name-title">この日のお酒</div>
          <div class="content-name"><%= f.text_field :d_name, class:"c_name" %></div>
          <div class="comment-title">お酒の感想</div>
          <div class="content-comment"><%= f.text_area :d_comment, class:"c_comment" %></div>
        </div>
        <div class="image-wrapper">
          <div class="image-box1" id="image-box1"></div>
          <div class="input"><%= f.label :drink_image, "写真をアップする", class:"input-btn", id:"input-btn1" %></div>
          <div class="image"><%= f.file_field :drink_image, class:"image-form" %></div>
        </div>
      </div>
      <div class="contents">
        <div class="content-wrapper">
          <div class="name-title">この日のおつまみ</div>
          <div class="content-name"><%= f.text_field :f_name, class:"c_name" %></div>
          <div class="comment-title">おつまみの感想</div>
          <div class="content-comment"><%= f.text_area :f_comment, class:"c_comment" %></div>
        </div>
        <div class="image-wrapper">
          <div class="image-box2" id="image-box2"></div>
          <div class="input"><%= f.label :food_image, "写真をアップする", class:"input-btn", id:"input-btn2" %></div>
          <div class="image"><%= f.file_field :food_image, class:"image-form" %></div>
        </div>
      </div>
      <div class="contents">
        <div class="content-wrapper">
          <div class="name-title">この日のお店</div>
          <div class="content-name"><%= f.text_field :r_name, class:"c_name" %></div>
          <div class="comment-title">お店の感想</div>
          <div class="content-comment"><%= f.text_area :r_comment, class:"c_comment" %></div>
          <div class="comment-title">お店の情報など</div>
          <div class="restaurant-address"><%= f.text_field :r_address, class:"c_address" %></div>
        </div>
        <div class="image-wrapper" >
          <div class="image-box3" id="image-box3"></div>
          <div class="input"><%= f.label :restaurant_image, "写真をアップする", class:"input-btn res", id:"input-btn3" %></div>
          <div class="image"><%= f.file_field :restaurant_image, class:"image-form" %></div>
        </div>
      </div>
      <div class="submit">
        <%= f.submit "保存する", class:"submit-btn", id:"submit-btn" %>
      </div>
    <% end %>
    <input type="hidden" id="safety-amount" name="safety-amount" value="<%= @user_safety_amount %>" >
  </div>
</div>