<div class="top">
  <% unless user_signed_in? %>
    <div class="top-wrapper">
    
      <div class="title"><h1>のみかた🍺<h1></div>
      <div class="app-explanation">
        <p class="sentences">おいしく、楽しく、ヘルシーに</p>
        <p class="sentences">お酒をより良くするアプリです</p>
      </div>
      <div class="entry">
        <%= link_to "新しく始める", new_user_registration_path, class:"sign-up" %>
        <%= link_to "ログインする", new_user_session_path, class:"login" %>
      </div>
    </div>
  <% else %>
    <div class="menu-wrapper">
      <%= "#{current_user.nickname}さんのメニュー" %>
      <%= link_to "マイプロフィール", user_path(current_user.id) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <div class="menu-bar">
        <ul>
          <li>
            <%= link_to "カレンダー", user_plans_path(current_user.id) %>
            <%= link_to "日記", "#" %>
            <%= link_to "アラーム", "#" %>
            <%= link_to "ゲーム", "#" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>