<div class="new-plan">
  <div class="plan-title">
    <%= @plan.date.year %>年<%= @plan.date.month %>月<%= @plan.date.day %>日 詳細
    <span class="back-link"><%= link_to "カレンダーに戻る", plans_path, class:"back" %></span>
  </div>

  <% unless @diary.nil? %>
    <div class="show-form">
      <div class="day-result-show">
        <div class="day-result-title">この日の実績</div>
        <div class="day-result"><%= @diary.alcohol_amount %>mg</div>
        <input type="hidden" id="result-value" value="<%= @diary.alcohol_amount %>">

  <div class="plan-form">
    <%= form_with model: @plan, url: plan_path(id: @plan.id, date: @plan.date), method: :patch, id:"form", local: true do |f| %>
      <div class="schedule">
        <div class="schedule-label"><%= f.label "のみかた予定" %></div>
        <div class="schedule-text"><%= f.text_area :schedule, class:"schedule-box" %></div>

      </div>
      <div class="day-plan-show">
        <div class="day-plan-title">この日の目標</div>
        <div class="day-plan"><%= @plan.alcohol_amount_plan %>mg</div>
        <input type="hidden" id="plan-value" value="<%= @plan.alcohol_amount_plan %>">
      </div>
      <div class="judge-comment"><h3 class="judge" id="judge"></h3></div>
      <div class="day-diary-show"><%= link_to "この日の日記を見る", "#", class:"diary-show" %></div>
    </div>
  <% else %>
    <div class="plan-form">
      <%= form_with model: @plan, url: user_plan_path(id: @plan.id, date: @plan.date), method: :patch, id:"form", local: true do |f| %>
        <div class="schedule">
          <div class="schedule-label"><%= f.label "のみかた予定" %></div>
          <div class="schedule-text"><%= f.text_area :schedule, class:"schedule-box" %></div>
        </div>
        <div class="alcohol_amount_plan">
          <div class="amount-title">のみかた目標　(半角数字で入力してね)</div>
          <div class="drink-choice">
            <div class="left-choice">
              <ul class="drinks">
                <li class="beer">ビール350ml<br />
                缶チューハイ350ml</li>
                <li class ="amount"><%= f.text_field :small_beer, class:"amount-box", id:"box1" %>本</li>
              </ul>
              <ul class="drinks">
                <li class="beer">日本酒180ml<br />
                （1合）</li>
                <li class ="amount"><%= f.text_field :japanese_sake, class:"amount-box", id:"box2" %>合</li>
              </ul>
              <ul class="drinks">
                <li class="beer">焼酎100ml<br />
                （グラス一杯）</li>
                <li class ="amount"><%= f.text_field :shochu, class:"amount-box", id:"box3" %>杯</li>
              </ul>
            </div>
            <div class="right-choice">
            <ul class="drinks">
                <li class="beer">ビール500ml<br />
                缶チューハイ500ml</li>
                <li class ="amount"><%= f.text_field :large_beer, class:"amount-box", id:"box4" %>本</li>
              </ul>
              <ul class="drinks">
                <li class="beer">ワイン120ml<br />
                （グラス一杯）</li>
                <li class ="amount"><%= f.text_field :wine, class:"amount-box", id:"box5" %>杯</li>
              </ul>
              <ul class="drinks">
                <li class="beer">ウイスキー30ml<br />
                （ショットグラス一杯）</li>
                <li class ="amount"><%= f.text_field :wisky, class:"amount-box", id:"box6" %>杯</li>
              </ul>
              <ul class="drinks">
                <li class="beer">その他のお酒<br />
                （度数）<%= f.text_field :another_percentage, class:"amount-box", id:"box7" %>%</li>
                <li class ="amount"><%= f.text_field :another_amount, class:"amount-box", id:"box8" %>ml</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="amount-sum">
          <div class="users-safety">
            <div class="safety-title">あなたの1日の適正量</div>
            <div class="safety" ><%= @user_safety_amount %></div>
            <div class="g">g</div>
          </div>
          <div class="alcohol-sum">
            <div class="sum-label"><%= f.label "純アルコール量合計"%></div>
            <div class ="sum-text"><p class="sum" id="sum"><%= @plan.alcohol_amount_plan %></p>g</div>
          </div>
            <%= f.text_field :alcohol_amount_plan, class:"sum-box", id:"sum-box" %>
        </div>
        <div class="comment" id="comment">
          <h3 class="comment-text" id="comment-text"></h3>
        </div>
        <div class="submit">
          <%= f.submit "変更を保存する", class:"submit-btn", id:"submit-btn" %>
        </div>
      <% end %>
      <input type="hidden" id="safety-amount" name="safety-amount" value="<%= @user_safety_amount %>" >
    </div>
  <% end %>
</div>